<div class="min-h-screen bg-gray-900 text-white flex flex-col md:flex-row">
  
    <!-- Sidebar  -->
    <admin-side-bar ></admin-side-bar>
  
    <!-- Main Content -->
    <main class="w-full  p-4 sm:p-6 mt-6">
      <h1 class="text-2xl sm:text-3xl font-bold text-blue-400 mb-6">👥 Users Management</h1>
  
   
      <div class="flex flex-col sm:flex-row justify-between sm:items-center gap-4 mb-6">
        <input
          type="text"
          placeholder="Search users..."
          class="px-4 py-2 w-full sm:w-1/2 rounded-lg bg-gray-700 text-white border border-gray-600 placeholder-gray-400 focus:outline-none focus:ring focus:ring-blue-500"
        />
        <button (click)="addUser()" class="bg-blue-600 hover:bg-blue-700 text-white px-5 py-2 rounded-lg w-full sm:w-auto">
          Add New User
        </button>
      </div>
  
    
      <div class="bg-gray-800 p-4 rounded-xl border border-gray-700">
        <h2 class="text-lg sm:text-xl font-semibold text-blue-300 mb-4">Registered Users</h2>
        <div class="overflow-x-auto">
          <table class="min-w-full text-sm text-left">
            <thead class="bg-gray-700 text-blue-400">
              <tr>
                <th class="p-3">#</th>
                <th class="p-3">Name</th>
                <th class="p-3">Email</th>
                <th class="p-3">Role</th>
                <th class="p-3">Status</th>
                <th class="p-3 text-right pr-18">Actions</th>
              </tr>
            </thead>
           <tbody class="text-gray-300">
                  <tr *ngFor="let user of Users; let i = index" class="border-b border-gray-700 hover:bg-gray-700">
                    <td class="p-3">{{ i + 1 }}</td>
                    <td class="p-3">{{ user.name }}</td>
                    <td class="p-3">{{ user.email }}</td>
                    <td class="p-3">{{ user.role }}</td>
                    <td class="p-3">
                      <span
                        class="px-2 py-1 text-xs rounded"
                        [ngClass]="{
                          'bg-green-700': user.status === 'Active',
                          'bg-red-700': user.status === 'Suspended'
                        }"
                      >
                        {{ user.status || 'Active' }}
                      </span>
                    </td>
                    <td class="p-3 text-right">
                      <button class="text-yellow-400 hover:underline mr-3" >Edit</button>
                      <button class="text-red-500 hover:underline mr-3" (click)="deleteUser(user.id)">Delete</button>
                     <button class="text-red-100 hover:underline mr-6">Update</button>
                    
                    </td>
                  </tr>
                </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
  
  <app-footer></app-footer>