<section class="min-h-screen flex items-center justify-center bg-gray-100 dark:bg-gray-900 p-4 sm:p-6">
    <button routerLink="/AllAds"
    class="absolute top-4 left-4 text-white bg-transparent border-b-2 border-cyan-700 hover:bg-cyan-700 px-3 py-1 rounded">
    Back
  </button>
    <div class="w-full max-w-7xl bg-white dark:bg-gray-800 rounded-2xl shadow-lg p-6 sm:p-8 mt-10 mb-10 relative">
      <label class="block mb-4 text-2xl font-medium text-gray-900 dark:text-white">Create ad</label>
  
     
  
      <form class="space-y-6">
   
        <div>
          <label for="location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Location</label>
          <select  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option disabled selected>Select city</option>
        
          </select>
        </div>
  
    
        <div>
          <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
          <input type="text" id="title" placeholder="Type"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>
 
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

          <div>
            <label for="carBrand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Brand Name</label>
            <select  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option disabled selected>Select brand</option>
        
            </select>
          </div>
  
      
          <div>
            <label for="year" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Manufactured by</label>
            <select  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option disabled selected>Select year</option>
            
            </select>
          </div>
  
          <div>
            <label for="fuelType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fuel Type</label>
            <select  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option disabled selected>Select fuel type</option>
            
            </select>
          </div>
  
       
          <div>
            <label for="transmission" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Transmission</label>
            <select  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option disabled selected>Select transmission</option>
             
            </select>
          </div>
        </div>
  
        <div>
          <label for="condition" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Condition</label>
          <select  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option disabled selected>Select condition</option>
      
          </select>
        </div>
  
     
        <div>
          <label for="millage" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Millage</label>
          <input type="text" id="millage" placeholder="1200cc"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>
  
 
        <div>
          <label for="contact" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Number</label>
          <input type="tel" id="contact" placeholder="+94"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>
  
 
        <div>
          <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
          <input type="text" id="price" placeholder="LKR"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>
  
        <!-- Main Image Upload -->
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Main Image</label>
          <div class="flex items-center gap-4">
            <img [src]="mainImagePreview || defaultMainImage" alt="Main Image Preview"
              class="w-40 h-32 object-cover rounded border border-gray-300 dark:border-gray-600 cursor-pointer"
              (click)="triggerMainImageInput()" />
            <input type="file" id="mainImageInput" class="hidden" (change)="onMainImageSelected($event)" />
          </div>
        </div>
  
        <!-- More Images Upload -->
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Upload More Images</label>
          <div class="flex flex-wrap gap-4">
            <ng-container *ngFor="let img of imagePreviews; let i = index">
              <div (click)="triggerFileInput(i)">
                <img class="w-24 h-20 rounded object-cover cursor-pointer" [src]="img || defaultImage" alt="Upload Preview" />
              </div>
              <input type="file" class="hidden" />
            </ng-container>
          </div>
        </div>

        <div>
          <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
          <textarea id="description" rows="4" placeholder="Type your description here..." class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>

        </div>


        <div class="flex justify-center mt-16">
          <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white px-5 py-2 rounded-lg">Create Ad</button>
        </div>


      </form>
    </div>
  </section>
  