<app-navbar></app-navbar>




<section class="bg-white dark:bg-gray-900 mt-10 ">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
        <a href="#" class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700" role="alert">
            <span class="text-xs bg-primary-600 rounded-full text-white px-4 py-1.5 mr-3">New</span> <span class="text-sm font-medium">New Version is out! See what's new</span> 
            <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        </a>
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-5xl dark:text-white">We Spend money on a vehical , It should have a Reasonable Value  </h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Welcome to Auto Broker, your trusted platform for buying and selling vehicles with ease. Whether you're looking for your next car or want to post an ad to sell your vehicle, we've got you covered.</p>
        <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
            <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                Learn more
                <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
         
        </div>
        <div class="px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36">
            <span class="font-semibold text-gray-400 uppercase">MORE FEATURED IN</span>
            <div class="flex flex-wrap justify-center items-center mt-8 text-gray-500 sm:justify-between">
          
              <a href="#" class="flex items-center mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400">
                <img class="w-11 h-11" src="https://img.icons8.com/ultraviolet/40/flat-tire.png" alt="">
                <span class="ml-2 md:text-3xl font-extrabold">Auto Parts</span>
              </a>
          
              <a href="#" class="flex items-center mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400">
                <img class="w-11 h-11" src="https://img.icons8.com/clouds/100/buy.png" alt="">
                <span class="ml-2 md:text-3xl font-extrabold">Buy & Sell</span>
              </a>
          
              <a href="#" class="flex items-center mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400">
                <img class="w-11 h-11" src="https://img.icons8.com/color/48/all.png" alt="">
                <span class="ml-2 md:text-3xl font-extrabold">All In One</span>
              </a>
          
            </div>
          </div>
          
        </div> 
    
</section>





<section class="  bg-white px-4 py-8 antialiased dark:bg-gray-900 md:py-16">
    <div class="mx-auto grid max-w-screen-xl rounded-lg bg-gray-50 p-4 dark:bg-gray-800 md:p-8 lg:grid-cols-12 lg:gap-8 lg:p-16 xl:gap-16">
      <div class="lg:col-span-5 lg:mt-0">
        <a href="#">
        
          <img class=" hidden dark:block md:h-full rounded " src="https://img.freepik.com/free-vector/lightened-luxury-sedan-car-darkness-with-headlamps-rear-lights-lit-realistic-image-reflection_1284-28803.jpg?ga=GA1.1.57700157.1730957812&semt=ais_hybrid&w=740" alt="peripherals" />
        </a>
      </div>
      <div class="me-auto place-self-center lg:col-span-7">
        <h1 class="mb-3 text-2xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white md:text-4xl">
            Take advantage of our featured ads <br />
            fast, safe, and free.
        </h1>
        <p class="mb-6 text-gray-500 dark:text-gray-400">Browse a wide range of listings from verified sellers across the country. With our user-friendly interface, smart filters, and secure communication, finding your dream ride or selling your old one has never been easier.</p>
        <a routerLink="/AllAds" class="inline-flex items-center justify-center rounded-lg bg-primary-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"> Try Here </a>
      </div>
    </div>
  </section>





<section class="bg-white dark:bg-gray-900 ">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        
        <img class="hidden w-full dark:block rounded" src="https://img.freepik.com/free-photo/back-headlights-black-luxury-car_146671-19733.jpg?ga=GA1.1.57700157.1730957812&semt=ais_country_boost&w=740" >
        <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Discover a wide range of high quality auto parts tailored for your vehicle.</h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Whether you're looking for engine components, suspension systems, lighting, or accessories, we've got you covered. Our parts are sourced from trusted suppliers to ensure durability, performance, and compatibility. Easily browse, compare, and order the parts you need—all in one convenient place.</p>
            <a routerLink="/autoParts" class="inline-flex items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900">
                Get started
                <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
    </div>
</section>


<!-- //------------------------------------------------ -->

<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"> All-in-One Vehicle & Parts Hub</h2>
            <p class="mb-4">Experience the ultimate convenience with our all-in-one platform for vehicles and auto parts. Whether you're buying, selling, or maintaining a vehicle, everything you need is just a tap away.</p>
            <p> This unified solution saves time, ensures quality, and provides peace of mind—making it the perfect choice for anyone looking to manage their vehicle needs effortlessly.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2">
        </div>
    </div>
</section>


<!-- //-------------------------------------------------- -->




<!-- items  -->

<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
    <div class="mx-auto grid max-w-screen-xl px-4 pb-8 md:grid-cols-12 lg:gap-12 lg:pb-16 xl:gap-0">
      <div class="content-center justify-self-start md:col-span-7 md:text-start">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight dark:text-white md:max-w-2xl md:text-5xl xl:text-6xl">Different Type of Vehicle Market !<br /></h1>
        <p class="mb-4 max-w-2xl text-gray-500 dark:text-gray-400 md:mb-12 md:text-lg mb-3 lg:mb-5 lg:text-xl">Don't Wait - Limited Stock at Unbeatable Prices!</p>
        <a routerLink="/AllAds" class="inline-block rounded-lg bg-primary-700 px-6 py-3.5 text-center font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Connect Now</a>
      </div>
      <div class="hidden md:col-span-5 md:mt-0 md:flex">
        <img class="dark:hidden" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/girl-shopping-list.svg" alt="shopping illustration" />
        <img class="hidden dark:block" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/girl-shopping-list-dark.svg" alt="shopping illustration" />
      </div>
    </div>
    <div class="mx-auto grid max-w-screen-xl grid-cols-2 gap-8 text-gray-500 dark:text-gray-400 sm:grid-cols-3 sm:gap-12 lg:grid-cols-6 px-4">
     
        <a href="#" class="flex items-center md:justify-center">
       
            <img class="w-11 h-11" src="https://img.icons8.com/plasticine/50/toyota.png" alt="">
            <span class=" ml-2 md:text-xl font-extrabold">Toyota</span>


      </a>
      <a href="#" class="flex items-center md:justify-center">
        <img class="w-11 h-12 " src="https://img.icons8.com/color/48/nissan.png" alt="">
            <span class=" ml-2 md:text-xl font-extrabold">Nissan</span>


      </a>
      <a href="#" class="flex items-center md:justify-center">
        <img class="w-11 h-11" src="https://img.icons8.com/color/48/mitsubishi.png" alt="">
        <span class="ml-2 md:text-xl font-extrabold" >Mitsubishi   </span>



      </a>
      <a href="#" class="flex items-center md:justify-center">
        <img class="w-11 h-11" src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/24/external-honda-motor-company-a-japanese-public-multinational-conglomerate-corporation-automotive-color-tal-revivo.png" alt="external-honda-motor-company-a-japanese-public-multinational-conglomerate-corporation-automotive-color-tal-revivo" alt="">
        <span class="ml-2 md:text-xl font-extrabold">Honda</span>



      </a>
      <a href="#" class="flex items-center md:justify-center">
        <img class="w-11 h-11" src="https://img.icons8.com/color/48/bmw--v1.png" alt="">
            <span class="ml-2 md:text-xl font-extrabold">BMW</span>



      </a>
      <a href="#" class="flex items-center md:justify-center">
        <img class="w-11 h-11" src="https://img.icons8.com/color/48/mercedes-benz.png" alt="">
        <span class="ml-2 md:text-xl font-extrabold">Mercedes</span>



      </a>
     
      <a href="#" class="flex items-center md:justify-center">
        <img class="w-11 h-11" src="https://img.icons8.com/color/48/audi.png" alt="">
        <span class="ml-2 md:text-xl font-extrabold">Audi</span>
      </a>

      <a href="#" class="flex items-center md:justify-center">
        <img class="w-11 h-11" src="https://img.icons8.com/color/48/mazda.png" alt="">
        <span class="ml-2 md:text-xl font-extrabold">Mazda</span>
      </a>

      <a href="#" class="flex items-center md:justify-center">
        <img class="w-11 h-11" src="https://img.icons8.com/color/48/land-rover.png" alt="">
        <span class="ml-2 md:text-xl font-extrabold">LandRover</span>
      </a>

      <a href="#" class="flex items-center md:justify-center">
        <img class="w-11 h-11" src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/24/external-ashok-leyland-is-an-indian-automobile-company-automotive-color-tal-revivo.png" alt="">
        <span class="ml-2 md:text-xl font-extrabold">AsokLaylend</span>
      </a>

      <a href="#" class="flex items-center md:justify-center">
        <img class="w-11 h-11" src="https://img.icons8.com/color/48/tesla-logo.png" alt="">
        <span class="ml-2 md:text-xl font-extrabold">Tesla</span>
      </a>

      <a href="#" class="flex items-center md:justify-center">
        <img class="w-11 h-11" src="https://img.icons8.com/external-tal-revivo-fresh-tal-revivo/28/external-peugeot-is-a-french-automotive-manufacturer-part-of-groupe-psa-automotive-fresh-tal-revivo.png" alt="">
        <span class="ml-2 md:text-xl font-extrabold">Peugeot</span>
      </a>

    </div>
  </section>



  <app-footer  ></app-footer>